<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/exampleLayout}">
<th:block layout:fragment="script">
  <script>
    'use strict';

<!--
    // 메세지 처리
    let message = [[${message}]];
    if(message != null) alert(message);
-->

    function guestCheck(id) {
      let ans = confirm("삭제할까요?");
      if(ans) location.href = "/guest/guestDelete?id="+id;
    }
  </script>
</th:block>
<th:block layout:fragment="css">
  <style>
    th {
      width: 150px; !important;
      text-align: center !important;
      background-color: #eee; !important;
    }

  </style>
</th:block>




<div layout:fragment="content" class="container">
  <h2 class="text-center">방 명 록 리 스 트</h2>
  <div class="row">
    <div class="col"><a th:href="@{/guest/guestInput}" class="btn btn-success">글올리기</a></div>
    <div class="col text-end"><a th:href="@{/}" class="btn btn-warning">홈으로</a></div>
  </div>
  <br/>

  <!-- 이전페이지/다음페이지 -->
  <div class="col text-end">
    <th:block th:if="${pag > 1}">
      <a th:href="@{guestList(pag=0,pageSize=${pageSize})}" title="첫페이지" class="text-decoration-none link-primary link-underline-opacity-0 link-underline-opacity-100-hover">◁◁</a>
      <a th:href="@{guestList(pag=${pag-2},pageSize=${pageSize})}" title="이전페이지" class="text-decoration-none link-primary link-underline-opacity-0 link-underline-opacity-100-hover">◀️</a>
    </th:block>
    <span th:text="${pag}"></span>/<span th:text="${totPage}"></span>
    <th:block th:if="${pag < totPage}">
      <a th:href="@{guestList(pag=${pag},pageSize=${pageSize})}" title="다음페이지" class="text-decoration-none link-primary link-underline-opacity-0 link-underline-opacity-100-hover">▶️</a>
      <a th:href="@{guestList(pag=${totPage-1},pageSize=${pageSize})}" title="마지막페이지" class="text-decoration-none link-primary link-underline-opacity-0 link-underline-opacity-100-hover">▷▷</a>
    </th:block>
  </div>



  <!-- 방명록 내용 -->
  <div th:each="dto : ${guestList}">
    <table class="table table-borderless">
      <tr>
        <td>번호 : <span th:text="${dto.id}"></span>
          <a th:href="@{/guest/guestUpdate(id=${dto.id})}" class="btn btn-warning btn-sm">수정</a>
          <a th:href="|javascript:guestCheck(${dto.id})|" class="btn btn-danger btn-sm">삭제</a>
        </td>
        <td class="text-end">방문IP : <span th:text="${dto.hostIp}"></span> </td>
      </tr>
    </table>
    <table class="table table-bordered">
      <tr>
        <th>글쓴이</th>
        <td th:text="${dto.name}"></td>
        <th>방문일자</th>
        <td th:text="${dto.visitDate}"></td>
      </tr>
      <tr>
        <th>이메일</th>
        <td colspan="3" th:text="${dto.email}"></td>
      </tr>
      <tr>
        <th>홈페이지</th>
        <td colspan="3" th:text="${dto.homePage}"></td>
      </tr>
      <tr>
        <th>방문소감</th>
        <td colspan="3" style="height:200px" th:utext="${#strings.replace(dto.content, newLine, '&lt;br /&gt;')}"></td>
      </tr>
    </table>
    <br/>
  </div>
<br/>

<!-- 페이지 네이션 -->
  <div class="text-center">
    <ul class="pagination justify-content-center">
      <th:block th:if="${pag > 1}"><li class="page-item"><a class="page-link text-secondary" th:href="@{guestList(pageSize=${pageSize},pag=0)}">첫페이지</a></li></th:block>
      <th:block th:if="${curBlock > 0}"><li class="page-item"><a class="page-link text-secondary" th:href="@{guestList(pageSize=${pageSize},pag=${(curBlock-1)*blockSize+1-1})}">이전블록</a></li></th:block>
      <th:block th:each="i: ${#numbers.sequence((curBlock*blockSize)+1,(curBlock*blockSize)+blockSize)}">
        <th:block th:if="${i <= totPage && i == pag}"><li class="page-item active"><a class="page-link bg-secondary border-secondary" th:href="@{guestList(pageSize=${pageSize},pag=${i-1})}" th:text="${i}"></a></li></th:block>
        <th:block th:if="${i <= totPage && i != pag}"><li class="page-item"><a class="page-link text-secondary" th:href="@{guestList(pageSize=${pageSize},pag=${i-1})}" th:text="${i}"></a></li></th:block>
      </th:block>
      <th:block th:if="${curBlock < lastBlock}"><li class="page-item"><a class="page-link text-secondary" th:href="@{guestList(pageSize=${pageSize},pag=${(curBlock+1)*blockSize+1-1})}">다음블록</a></li></th:block>
      <th:block th:if="${pag < totPage}"><li class="page-item"><a class="page-link text-secondary" th:href="@{guestList(pageSize=${pageSize},pag=${totPage-1})}">마지막페이지</a></li></th:block>
    </ul>
  </div>
</div>
<p><br/></p>
</html>